* { /* reset margins and paddings on all elements */
	margin:0;
	padding:0;
}

body::before {
		content:""; /* required for ::before */
		position:fixed; /* don't scroll with page */
		z-index:-100; /* place behind elements on page */
		width:100%;
		height:100%;
		background-color:#0ba0a8;
		background-image: 
		radial-gradient(circle farthest-side at top right, transparent, #092961), radial-gradient(ellipse farthest-corner at 0% 100%, transparent, #530a39);
		animation:bg-change 5s infinite;
}

@keyframes bg-change {
	0%, 100% {
		filter:hue-rotate(90deg);
	}
	50% {
		filter:hue-rotate(-45deg);
	}
}